@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

html, body {
  height: 100%; 
}

body {
  background: radial-gradient(ellipse farthest-corner at center center, silver, gray);
  color: #666;
  font-family: Arial, sans-serif;
  margin: 2em;
  text-align: center;
  height: 100%;
}

h1 {
  color: #ff00ff;
  font-family: Calligraffitti;
  text-shadow: 1px 1px 1px #000;
}

/* Flair generics */

.flair {
  margin: 2em;
  margin-top: 100px;
  display: inline-block;
  width: 200px;
  height: 300px;
  position: relative;
}

.flair div {
    background: url('') no-repeat center center;
    border:1px dashed blue;
}
  
.flair-head {
    width: 40%;
    height: 20%;
    margin: 0 auto;
    transform-origin: 50% 100%;
}
  
.flair-body {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}
  
.flair-arm {
    width: 15%;
    height: 40%;
    position: absolute;
    top: 20%;
}    
 
.flair-arm-l {
      left: 10%;
      transform-origin: 60% 12%;
}
    
.flair-arm-r {
      right: 10%;
      transform-origin: 40% 12%;
}

.flair-leg {
    width: 15%;
    height: 40%;
    position: absolute;
    top: 55%;
    transform-origin: 50% 0%;
}

.flair-leg-l {
      left: 30%;
}
    
.flair-leg-r {
      right: 30%;
}


#basic div {
     background-color: #ffe4c4;
     border-radius: 20%;
}
  
#basic .flair-head {
     border-radius: 50%;
}

