<header class="container">
  <div class="heading">
    <h1>Make Me Bootsy, Baby!</h1>
    <h3>The Only Todo App that Changes You for the Bootsy!</h3>
  </div>
  <div class="row">
    <div class="nav-item two columns"><a>Home</a></div>
    <div class="nav-item two columns"><a>About</a></div>
    <div class="nav-item two columns"><a>Todos</a></div>
  </div>
  <hr>
</header>
