// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.experiments {
  h1, h3, h4 {
    color: ghostwhite;
  }

  .exp-log-comment-text-area {
    height: 160px;
    width: 60%;
  }

  .exp-log-comment-text-field {
    height: 180px;
  }
}
