  <br>
  <h3 class="cen-jus thumb-head">Know More About the Basilisk</h3>
  <br>
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">Roko's Basilisk</h4>
        <hr>
        <div class="caption">
          <p>No finer time to drink a beer with a new friend. Please call me.</p>
          <a class="btn btn-primary" href="http://rationalwiki.org/wiki/Roko's_basilisk">Tell Me More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">Timeless Decision Theory</h4>
        <hr>
        <div class="caption">
          <p>Fishin is easy in my pond. When you write to me and come see my pond, I
             think you'll catch plenty of good fish.</p>
          <a class="btn btn-primary" href="">More on TDT</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">You are Your Simulation</h4>
        <hr>
        <div class="caption">
          <p>Please be my fishing buddy. I have the Facebook and everything all set up for
             our selfies.</p>
          <a class="btn btn-primary" href="http://rationalwiki.org/wiki/Simulated_reality">More on Simulated Realities…</a>
        </div>
      </div>
    </div>

  </div>
