<%= stylesheet_link_tag 'about' %>

<h1>THINGS I WRAP ABOUT</h1>

<p>Cars and Burgers and stuff. Hotwheels too!</p>

<%= link_to 'Index', root_path %>
<%= link_to 'Contact', static_pages_contact_path %>
