<h1>Who want the real!?!?</h1>

<div>
  <p>Pressin keys: <b><span id="place"></span></b></p>
</div>

<input type="text" id="take" placeholder="Real?"></input>

<br>
<br>

<%= link_to 'Index', root_path %>
<%= link_to 'About', static_pages_about_path %>
<%= javascript_include_tag 'contact' %>
