<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <ul>
      <li><a href="/todos">Visit the todo list.</a></li>
    </ul>
  </main>

  <%- include('./partials/scripts') %>
</body>
</html>
