<div class="container scientists">
  <h1>Dr. <%= @scientist.name %></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Experiments</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
          <% @experiments.each do |experiment| %>
          <%= link_to "#{experiment.name}", scientist_experiment_path(@scientist, experiment), class: "list-group-item" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
