<div class="container cen-jus">

  <br>
  <h3>Uncle Derry's Fishin' Triumphs</h3>
  <h6>Post Your Catches Here! Please call me.</h6>
  <br>
  <form id="new-fish" class="form-inline">
    <div class="form-group">
      <input type="text" name='fish[name]' id="fish-name" placeholder="Get Specific!" class="form-control" />
    </div>
    <select class="form-control" name="fish[category]" id="fish-category">
        <option value="Fish">Fish</option>
        <option value="Clothing">Clothing</option>
        <option value="Corpse">Corpse</option>
        <option value="Trash">Trash</option>
    </select>
    <button class="btn btn-success btn-sm" type="submit">Save Mah' Catch!</button>
  </form>

  <ul id="fishes">
  </ul>

</div>
