a {
  color: #00B7FF;
}

body {
  background-color: darkgray;
}

header {
  margin: 30px auto;
  background-color: black;
}

.nav-item {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.heading {
  background: url(http://d1ya1fm0bicxg1.cloudfront.net/2015/09/promoted-media_55f773384500f.jpg) no-repeat center center fixed;
  height: 400px;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.heading > h1 {
  padding-top: 80px;
}

.heading > h3 {
  padding-top: 80px;
}
